body {
    display: flex;
    justify-content: center;
    align-items: center;
}

body>* {
    margin: 10px;
}

.parent {
    border: 1px solid black;
    padding: 10px;
}

.child {
    padding: 10px;
    padding-inline: 100px;

    background-color: red;
    color: white;
}

form {
    display: flex;
    flex-direction: column;

    border: 1px solid black;
    padding: 10px;
}

form>*{
    margin: 5px;
}