.fullsize {
    height: 100%;
}

.absolute {
    position: absolute;
    padding: 10px;
    top: 50%;
    right: 50%;
    border: 2px solid black;
    border-radius: 5px;
}

.hide {
    display: none;
}

.half-hide {
    opacity: 50%;
}

body>footer, body>header, body>main {
    padding: 0;
}