main {
    display: flex;
    height: 100vh;
}

.grow-0 {
    flex-grow: 0;
    padding: 10px;
    color: white;
    background-color: blue;
}

.grow-1 {
    flex-grow: 1;
    padding: 10px;
}

.minimized {
    width: 60px;
}

body>footer, body>header, body>main {
    padding: 0;
}