div {
    display: inline-block;

    width: 100px;
    height: 100px;
    margin: 10px;

    color: white;

    background-color: black;
}

body>footer, body>header, body>main {
    padding-left: 3rem;
    padding-block: 0;
}