.absolute {
    position: absolute;
    background-color: green;
    color: white;
    top: -300px;
    left: -10px;
}

.relative {
    position: relative;
    background-color: red;
    color: white;
}

.static-div {
    position: static;
    background-color: blue;
    color: white;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.relative1 {
    position: relative;
}