body {
    display: flex;
    flex-direction: column;
}

.navbar {
    color: white;
    background-color: black;
}

.grow-7 {
    flex-grow: 7;
    height: 100%;
}

.gird-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

    height: 100%;
}

.gird-element {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
}

.menu {
    flex-grow: 1;
    height: 100%;
    background-color: aqua;
}

main {
    display: flex;
    height: 100%;
}

footer {
    color: white;
    background-color: black;
}