/* Global styles for all elements */
body > * {
    margin: 5px;
}

/* form */

.form-container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    overflow-y: auto;
    background-color: #fff; /* Background color for the sidebar */
    border-left: 1px solid #ccc;
}

.form {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;

    * {
        margin: 5px;
    }

    .part {
        display: flex;
        justify-content: space-between;

        * {
            align-self: center;
        }

        input {
            margin-left: 10px;

            &:not([type="color"]) {
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }

            &:not([type="color"]):focus {
                outline: none;
                border-color: #007bff;
            }

            &:has([type="color"]) {
                width: 50%;
                padding: 0;
                -webkit-appearance: none;
            }

            &:has([type="color"])::-webkit-color-swatch-wrapper {
                padding: 0;
                width: 100%;
            }

            &:has(input[type="color"])::-webkit-color-swatch {
                border: none;
            }
        }

        select {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            width: 75%;

            & option {
                padding: 10px;
            }

            &:hover {
                outline: none;
                border-color: #007bff;
            }
        }
    }

    .title-container {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        background: blue;

        #type {
            color: white;
            justify-self: center;
            align-self: center;
        }
    }

    button.open-button {
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: blue;
        color: white;
    }
}

button.close-button {
    background: none;
    color: red;
    border: none;
    position: absolute;
    top: 15px;
    right: 15px;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &::backdrop {
        position: static;
        pointer-events: none;
        backdrop-filter: blur(3px);
    }
}

/* other */

.content {
    margin-right: 50%;

    .container {
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;

        .child {
            padding: 5px;
            border: 1px solid black;
            border-radius: 10px;

            &:hover {
                border: 1px dashed black;
            }
        }
    }
}

.none {
    display: none;
}
