body > * {
    margin: 5px;
}

.container {
    padding: 10px;

    border: 1px solid black;
    border-radius: 10px;
}

.child {
    padding: 5px;

    border: 1px solid black;
    border-radius: 10px;
}

.child:hover {
    border: 1px dashed black;
}

.none {
    display: none;
}

#form {
    padding: 10px;

    display: flex;
    flex-direction: column;
}

#form > * {
    margin: 5px;
}

dialog {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    position: static;
    pointer-events: none;
    backdrop-filter: blur(3px);
}

.close-button {
    background: none;
    color: red;
    border: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.open-button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: red;
    color: white;
}

input:not([type="color"]) {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:not([type="color"]):focus {
    outline: none;
    border-color: #007bff;
}

input[type="color"] {
    width: 100%;
    padding: 0;
    -webkit-appearance: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

/* input[type="color"]:focus {
    outline: none;
    border-color: #007bff;
} */

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

select:hover {
    outline: none;
    border-color: #007bff;
}

option {
    padding: 10px;
}
