.fullsize {
    height: 100%;
}

.absolute {
    position: fixed;
    top: 50%;
    right: 50%;

    padding: 10px;

    border: 2px solid black;
    border-radius: 5px;
}

.hide {
    display: none;
}

.half-hide {
    opacity: 0.5;
}

body>footer, body>header, body>main {
    padding: 0;
}